<h1>Welcome to the shopping cart!</h1>
<div class="wrapper">
<marquee behavior="alternate"><span class="marquee"><h2>Signup or login here for shopping</h2></span></marquee>
</div>
<p> If u are a new user, Register here for shopping </p>
<%= link_to 'Register', new_user_path %>
<p> otherwise </p>
<%= link_to 'Login', login_users_path %><br>
<p>Time now is <%= Time.now %> </p>
<p> This page has been viewd <%= session[:visitors] %> times </p>
