<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Greetings from shopping cart, <%= @user.name %></h1>
    <p>
      Your order with order no. <%= @order.id %> have been received successfully,
    </p>
    <p>
      To see the status, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for using shopping cart and have a great day!</p>
  </body>
</html>